extends ../layout.bs

block content
  h1 Admin pages
  ul
  if canupdate
    li: a(href="/admin/slides/upload") Manage front page slideshow
  if canusers
    li: a(href="/admin/users") Manage users
  li: a(href="/admin/settings") Site settings
  if canroles
    li: a(href="/admin/roles") Manage roles
  if cansrp
    li: a(href="/admin/srp") Manage SRP
