<% include ../header.ejs %>
<h1>Admin pages</h1>
<UL>
<% if (canupdate) { %>
	<LI><a href="/admin/slides/upload">Manage front page slideshow</a>
<% } %>
<% if (canusers) { %>
 <LI><a href="/admin/users">Manage users</a>
<% } %>
</UL>


<% include ../footer.ejs %>