extends ../layout.bs

append bodyscripts
    script(type="text/javascript" src="/javascripts/app/adminsettings.js")

block content
  h2 Site Settings
  div(ng-controller="SettingsCtrl")
    form#settingsform(name="settingsform")
        div(ng-repeat="setting in settings")
            label
                {{setting.name}}: 
            input(type="text", ng-model="setting.value", ng-blur="updateSetting(setting)")
