<% include ../header.ejs %>
<script src="/javascripts/settings.js"></script>
<h2>Site Settings</h2>
<form action="/admin/settings/test" method="POST" id="settingsform" name="settingsform">
<% settings.forEach(function(setting) {  %>
	<div>
		<label><%=setting.name%></label>
		<input type="text" name="<%=setting.name%>" value="<%=setting.value%>"></input>
		<div id="<%=setting.name%>_result"></div>
	</div>
<% }); %>
<div id="blur"></div>
</form>

<% include ../footer.ejs %>