extends ../layout.jade

append bodyscripts
    script(type="text/javascript" src="/javascripts/settings.js")

block content
  h2 Site Settings
  form#settingsform(action="/admin/settings/test", method="POST", name="settingsform")
    each setting in settings
      div
        label
          = setting.name
        input(type="text", name= setting.name, value=setting.value)
    #blur
