extends ../layout.bs

append bodyscripts
    script(type="text/javascript" src="/javascripts/app/adminusers.js")

block content
  h2 Users
  div(ng-controller="UsersCtrl")
    {{usernames.length}} users:
    
    table#usertable
        tbody
        tr(ng-repeat="username in usernames")
            td {{username}}
            