
#footer_top
  .col-md-4
    h3 Info
    .footer_text
      ul.ls
        li: a(href=lookuppath('info_newtobold')) Info for new members
  .col-md-4
    h3 Share with Others
    .footer_text
      .foot_pad
        .link.reddit
          a(href="http://www.reddit.com/r/braveoperations") BO-LD Subreddit
  .col-md-4
    h3 Useful Resources
    .footer_text
      .foot_pad
        ul.ls
          li: a(href="http://www.eve-online.com/") EVE Online
          li: a(href="http://sw.coalition.tk/") Coalition Services
          li: a(href="http://evemaps.dotlan.net/") Dotlan
          li: a(href="http://fleet-up.com/") Fleet Up
  .clear

  include ./userinfo.jade
