
#footer_top
  #footer_column1
    h3 Info
    .footer_text
      ul.ls
        li: a(href=lookuppath('info_newtobold')) Info for new members
        li: a(href="https://wiki.braveineve.com/dojo/guides/authorize_core_setup", target="_blank")
          | How to setup CORE auth and Mumble
        li: a(href="http://imgur.com/a/vVkW2#0", target="_blank") How to setup BRAVE jabber
  #footer_column2
    h3 Share with Others
    .footer_text
      .foot_pad
        .link.reddit
          a(href="http://www.reddit.com/r/braveoperations") BO-LD Subreddit
        .link.reddit
          a(href="http://www.reddit.com/r/bravenewbies") BRAVE Subreddit
  #footer_column3
    h3 Useful Resources
    .footer_text
      .foot_pad
        ul.ls
          li: a(href="http://www.eve-online.com/") EVE Online
          li: a(href="http://wiki.braveineve.com/") BRAVE Wiki
          li: a(href="http://evemaps.dotlan.net/") Dotlan
          li: a(href="http://fleet-up.com/") Fleet Up
  .clear

  include ./userinfo.jade
