ul.killmails
each killmail in killmails
  li.killmail
    .killid: a(href="https://zkillboard.com/kill/" + killmail.killID + "/") zKillBoard
    .ship
      img(src='/images/Types/' + killmail.victim.shipTypeID + '_64.png')
    .shipName
      = killmail.victim.shipType
    .class
      = killmail.victim.shipClass
    .value #{killmail.zkb.totalValue} isk
    .system #{killmail.solarSystemName}
    .time #{killmail.killTime}
