each thread in threads
  .redditthread
    a.redditlink(href=thread.data.url)
      !=thread.data.title
    = ' '
    a.redditcomment(href='http://www.reddit.com/' + thread.data.permalink) #{thread.data.num_comments} comment#{thread.data.num_comments != 1 ? 's' : ''}
