each thread in threads
  .redditthread
    a.redditlink(href=thread.data.url)
      !=thread.data.title
    if !thread.data.is_self
      = ' '
      a.redditcomment(href=thread.data.permalink) Comments
