h4 Recent lossmails
each loss in losses
  .loss
    .killid: a(href="https://zkillboard.com/kill/" + loss.killID + "/") zKillBoard
    .ship
      img(src='/images/Types/' + loss.victim.shipTypeID + '_64.png')
    .shipName
      = loss.victim.shipType
    .class
      = loss.victim.shipClass
    .value #{loss.zkb.totalValue} isk
    .system #{loss.solarSystemName}
    .time #{loss.killTime}
