p
  | Copyright 2014.&nbsp;
  // Do not remove
  | Designed by&nbsp;
  a(href="http://www.myfreecsstemplates.com/", title="Free CSS Templates").
    Free CSS Templates
  br
  // end

p
  | Copyright notice for all EVE images and data:
  br
  | © 2014 CCP hf. All rights reserved.
  br
  | "EVE", "EVE Online", "CCP", and all related logos and images are trademarks or registered trademarks of CCP hf.

p
  a(href="/privacy") Privacy Policy
  | &nbsp;|&nbsp;
  a(href="/terms") Terms of Use
  | &nbsp;|&nbsp;
  a(href="http://validator.w3.org/check/referer",
    title='This page validates as XHTML 1.0 Transitional')
    abbr(title="eXtensible HyperText Markup Language") XHTML
  | &nbsp;|&nbsp;
  a(href="http://jigsaw.w3.org/css-validator/check/referer",
    title="This page validates as CSS")
    abbr(title="Cascading Style Sheets") CSS
