p
  | Copyright 2015.&nbsp;

p
  | Copyright notice for all EVE images and data:
  br
  | © 2015 CCP hf. All rights reserved.
  br
  | "EVE", "EVE Online", "CCP", and all related logos and images are trademarks or registered trademarks of CCP hf.

p
  a(href="/privacy") Privacy Policy
  | &nbsp;|&nbsp;
  a(href="/terms") Terms of Use
