#srpinfo
  h4 BO-LD Ship Replacement Program
  p.
    The BO-LD Ship Replacement Program (SRP) is created to help our members
    participate in our fleet events without risking losing all of their
    assets.
  h5 The following are the rules of the program:
  ol
    li Be in BO-LD. We're not paying out to scrubs (unless they're in a BO-LD fleet with us).
    li Be in a BO-LD fleet, or doing PVP in a BO-LD deployment area.
    li Have a reasonable PVP fit. Griffins are almost always reasonable for any occasion. It's like black...
    li Register and submit an API to zKillboard. Normally, only kills found on zKillboard will be accepted.
    li Complete the SRP request linked to form on this page. It's just a button click to get most of it filled out, you only have to add info of fleet, a

  h5 Note the special policy for expensive ships:
  ul
    li Ship losses when in official BO-LD fleets is covered (minus insurance) up to 35m.
    li Official BO-LD fleets are fleets under official BO-LD FCs.
    li New BO-LD FCs can be approved by Leadership Team.
    li This 35m cap can be waived by any Director (for example, to approve SRP on a BLOPS loss during a Blops Op).
    li Ship lost in solo/small gang PvP in BO-LD deployment area are covered up to 35 million.
    li Losses under 35 million is paid in full (minus insurance), losses above pay 35 million.
