#srpinfo
  h4 BO-LD Ship Replacement Program
  p.
    The BO-LD Ship Replacement Program (SRP) is created to help our members
    participate in our fleet events without risking loosing all of their
    assets.
  h5 The following are the rules of the program:
  ol
    li Be in BO-LD. We're not paying out to scrubs.
    li Be in a BOLD fleet, or doing PVP in a BO-LD deployment area. Your ratting ship in w-m doesn't count Neurotox.
    li Have a reasonable PVP fit. Griffins are almost always reasonable for any occasion. It's like black...
    li Register and submit an API to zKillboard. Normally, only kills found on zKillboard will be accepted.
    li Complete the SRP request form on this page. Really, it's just a few sentences. Even Nick can do that.

  h5 Note the special policy for expensive ships:
  ul
    li SRP Projected payouts of greater than 200m are subject to review at the next weekly officer meeting before getting paid out.
    li This 200m cap can be waived by any Director or Officer (for example, to approve SRP on a BLOPS loss during a Blops Op)
    li Optionally, members can elect to claim only 200m on a larger loss. This payout is subject to Tierdar's discretion, but does not require waiting for officer review before payment.
    li Payouts below 200m are at Tierdar's discretion, but will most likely be paid.
    li If people start systematically abusing the SRP we will put them on SRP timeout and name-and-shame. If it becomes a chronic problem we will start practicing our Sparta impression.
