table(id="srpPilotTable")
  thead
    tr
      th(colspan=2) Pilot
      th Requests
      th Total losses
      th Payouts
  tbody
    each user in users
      - killmail = user.losslist[0].killmail;
      tr
        td.victimimg
          img(src="/eveimages/" + killmail.victim.characterID, width=50)
        td.victim
          span.victimname #{user.name}
        td.requests
          =user.requests
        td.totalLoss
          =user.losses
        td.amount
          =user.payout
