#user_bar
  #user_info
    if username
      | Logged in as 
      a(href="/user/" + username)
        = username
    else
      a#loginlink(href="/login") Log in
  if username
    #logoutlink
      a(href="/logout") Log out

  if canadmin
    #adminlink
      a(href="/admin") Admin
