# Ignore slideshow folder (populated on site)
public/images/slideshow/**
files/**
.metadata/**

# Ignore local debug log
npm-debug.log

# Local files on server
log/
pid/

# Ignore env for things not going into SCC
env.json

# Ignore Mac folder info file
.DS_Store
