extends ./layout.jade


block content
  .leftcolumn
    #kills.contentsection.dropdown
      h3 Latest Kills
      #latestkills.hidable
    #losses.contentsection.dropdown
      h3 Latest Losses
      #latestlosses.hidable
    #reddit.contentsection.dropdown
      h3 Latest from reddit
      #latestreddit.hidable

  .rightcolumn
    #topkills.contentsection.dropdown
      h3 Biggest kills last 14 days
      #topkilllist.hidable
    #toploss.contentsection.dropdown
      h3 Biggest losses last 14 days
      #toplosslist.hidable
