extends ./layout.bs.jade

append bodyscripts
    script(type="text/javascript", src="/javascripts/app/frontpage.js")

block content
    #header
        .carousel(ng-controller="FrontPageCarouselCtrl")
            div(style="height: 305px")
                uib-carousel(interval="myInterval" no-wrap="noWrapSlides")
                    uib-slide(ng-repeat="slide in slides" active="slide.active")
                        img(ng-src="{{slide.image}}" style="margin:auto;")
                        .carousel-caption
                            p {{slide.text}}
    #column_box
        .column.col-md-4
            h2 About us
            img(src="/images/img1.png", alt="", title="About Us")
            p.
                Brave Operations - Lollipop Division (BO-LD) is an EVE Online corporation within the I N F A M O U S (GLORY) alliance.
                We specialize in small gang PVP content. Currently, we are living in the GLORY sov null region of Catch.
        
        .column.col-md-4
            h2 News
            img(src="/images/img2.png", alt="News", title="")
            p.
                GLORY to the Empire! BO-LD is now in GLORY
        .column.col-md-4
            h2 Have a Question?
            img(src="/images/img3.png", alt="", title="")
            p Join us in our public recruitment channel "BOLD recruitment" if you have any questions about BO-LD.
