extends ./layout.jade

append bodyscripts
  script(type="text/javascript", src="/javascripts/bold.js")

block content
  #kills.contentsection
    h3 Latest Kills
    #latestkills
  #losses.contentsection
    h3 Latest Losses
    #latestlosses
  #reddit.contentsection
    h3 Latest from reddit
    #latestreddit
  #content_bottom
