extends ./layout.bs


block content

  #usercontent
    h1 Welcome #{user.username}!

    p
      a(href="/submitsrp") BO-LD Ship Replacement Program
    p.
      Below you find some recent information about the corp



  .col-md-6  
    h3 Latest Kills
    div(ng-controller="LatestKillsCtrl", ng-include="'templates/killList.html'")
    h3 Latest Losses    
    div(ng-controller="LatestLossesCtrl", ng-include="'templates/killList.html'")
    
  .col-md-6
      h3 Biggest kills last 14 days
      h3 Biggest losses last 14 days
      
  .col-md-12
    h3 Latest from&nbsp;
          a(href='http://www.reddit.com/r/braveoperations') our subreddit
      
  .clear
