extends ./layout.jade

block content
  h2 Introduction

  iframe(id="iframe_container", frameborder=0,
      webkitallowfullscreen="", mozallowfullscreen="",
      allowfullscreen="true", width="550", height="400", align='center'
      src="https://prezi.com/embed/brjta9xnb2ws/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0#")
