extends ./layout.jade

block content
  h2 New to Brave Operations - Lollipop Division?
  h4 Things to do immediately:
  p Here are some things you should do to be able to interact with your new corp mates:
  ul
    li.
      Come to <b>W-MPTH III - Giant Bomb New Eden - Ryan Davis</b>, which is the staging station for the corporation.
      The easiest way to get there is to set your medical clone to that station, and self-destruct outside of a station
      (aka Deathcloning or Podjumping). Having expensive implants in Null is not advisable at all, as you will most certainly
      lose those sooner than later. If you have expensive implants, it is possible to come to our station through HED-GP and
      then use the <a href="https://wiki.braveineve.com/member/jumpbridge">Catch jump bridge network</a> (link requires brave Core
      authentication) to get there. A travel-fit interceptor has quite a good chance of getting there alive,
      especially during quieter hours.
    li.
      Join the chat channel "Form The Head" within EVE. We are living in this station with allies, and this is our
      coordination channel.
    li.
      Join the general H.E.R.O. chat channels "Heroic X-Up" and "Intel - HERO"
    li
      a(href="https://wiki.braveineve.com/dojo/guides/authorize_core_setup", target="_blank") Setup Mumble
      | , we hang out a lot in there in our channels. You are more than welcome to join us there.
    li
      a(href="http://imgur.com/a/vVkW2#0") Setup Jabber
      | , so you can receive general BRAVE and H.E.R.O. ping
    li.
      Join a fleet, any fleet, and come explode with us!
  br
  h4 Things to do in the near future:
  ul
    li.
      Skill for an interceptor (Racial Frigate V and Evasive Maneuvering V). They are crucial for surviving in null sec,
      and we frequently run interceptor fleets.
    li.
      Skill for a bomber (Racial Frigate V and Electronic Upgrades V, Torpedoes III and Bomb Deployment III). Those
      are a lot of fun!
