extends ./layout.bs

block content
  h2 Privacy Policy
  div.
    This website uses cookies to provide session information. The cookies identify your session to the server, who uses this
    to know which user you are if you are logged in.
    This website uses the Single Sign On login from CCP. This websites will only receive your character name from the CCP server,
    never your account password.
    You should not enter any passwords, credit card details or personal information on this website.
  p
  p
    button(type="button", onclick="CCPEVE.showInfo(1377, 94314126)") Yaldo Asanari
