extends ./layout.bs

append bodyscripts
    script(type="text/javascript", src="/javascripts/app/registeruser.js")

block content
  h2 Register New User
  
  div(ng-controller="UserRegistrationCtrl")
    .col-md-6
        form(name="regForm", ng-submit="registerUser()", novalidate)
            .form-group(ng-class="{ 'has-error' : regForm.username.$invalid && !regForm.username.$pristine}")
                label Username:
                input.form-control(type="text", name="username", ng-model="username", ng-minlength="4", required=true)
                div(ng-messages="regForm.username.$error")
                    div(ng-messages-include="/templates/messages.html")
        
            .form-group(ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$pristine}")
                label Password:
                input.form-control(type="password", name="password", ng-model="password", ng-minlength=8, required=true)
                div(ng-messages="regForm.password.$error")
                    div(ng-messages-include="/templates/messages.html")
        
            .form-group(ng-class="{ 'has-error': regForm.repeat.$invalid && !regForm.repeat.$pristine}")
                label Confirm password:
                input.form-control(type="password", ng-model="repeat", name="repeat", ng-minlength=8, required=true, compare-to="password")
                div(ng-messages="regForm.repeat.$error")
                    div(ng-messages-include="/templates/messages.html")
        
            input.btn.btn-primary(type="submit", ng-disabled="regForm.$invalid", value="Register")
        