extends ./layout.jade

append bodyscripts
    script(type="text/javascript", src="/javascripts/jquery.tablesorter.js")
    script(type="text/javascript", src="/javascripts/roster.js")
    
    

block content
    table#rosterTable.tablesorter
        thead
            th Name
            th Joined
            th Last Logon
            th Last Logoff
            th Location
            th Notes
            th
        tbody
            each member in members 
                tr
                    td 
                        a(href='/roster/' + member.characterID)
                            = member.name
                    td 
                        = member.startDateTime.toISOString().substr(0,10)
                    td
                        = member.logonDateTime.toISOString().substr(0,10)
                    td
                        = member.logoffDateTime.toISOString().substr(0,10)
                    td
                        = member.location
                    td
                        if member.comments
                            a(href='/roster/' + member.characterID + '#comments')
                                = member.comments
                    td
                        if member.isOk || member.exempt
                            div.keyok Not missing
                        else
                            div.keynotok Missing key
                        
                        
                    