extends ./layout.bs

append bodyscripts
    script(type="text/javascript", src="/javascripts/app/roster.js")
    script(type="text/javascript", src="/javascripts/app/helpers/timespan.js")
    
    

block content
    div(ng-controller="RosterCtrl")
        table.table.table-striped.table-small(st-table="displayedRoster" st-safe-src="roster")
            thead
                tr
                    th(st-sort="name") Name
                    th(st-sort="startDateTime") Joined
                    th(st-sort="logonDateTime") Last Logon
                    th(st-sort="logoffDateTime") Last Logoff
                    th(st-sort="location") Location
                    th(st-sort="notes") Notes
                    th(st-sort="missingKey", st-sort-default="reverse") Status
            tbody 
                tr(ng-repeat="member in displayedRoster")
                    td {{member.name}}
                    td 
                        span(time-passed="member.startDateTime")
                    td 
                        span(time-passed="member.logonDateTime")
                    td 
                        span(time-passed="member.logoffDateTime")
                    td {{member.location}}
                    td 
                        div(ng-show="member.comments") {{member.comments}}
                    td 
                        .keynotok(ng-hide="!member.missingKey") Missing
                        .keyok(ng-hide="member.missingKey") Ok
                    
                        
                    