extends ./layout.jade

block content
  h2 Our Team
  .personblock
    each manager in managers
      .person
        img(src="/eveimages/" + manager.ID, height="100", width="100")
        .name
          = manager.name
        .title
          = manager.title
        .function
          = manager.function

  h2 Our Divisions
  table.structure
    tr
      th Division
      th Responsible Officer
    tr
      th Diplomacy
      td Nick Cornax
    tr
      th Finance
      td Asmodean Shepherd, Robby Rolfe &amp; Thalonia
    tr
      th Internal Affairs
      td Nick Cornax
    tr
      th IT
      td Yaldo Asanari
    tr
      th Logistics
      td Thalonia
    tr
      th Military
      td Gavakz Moliko &amp; Lacks Pants
    tr
      th Recruitment
      td Elcirit Atreides &amp; Tierdar
    tr
      th Security
      td Robby Rolfe
