extends ./layout.jade

block content
  h1 BO-LD Ship Replacement Program
  p Click on the "Submit SRP" button to open the SRP submission form with data filled in.
  p Note that the system fetches new data from zkillboard.com every 10 minutes, so you may not see your most recent loss.
  include ./includes/srpPolicy
  .contentsection
    h3 My latest lossmails
    #mylosses
    button.more(href='#') Show more
