extends ./layout.jade

block content
  h2 Terms of Use
  div.
    This is a website for members of and those interested in the EVE Online corporation Bold Operations - Lollipop Division.
    Any other usage is not permitted.
