<div class="killmails">
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Ship</th>
                <th>Place</th>
                <th></th>
                <th>Victim</th>
            </tr>
            <tbody>                
                <tr ng-repeat-start="kill in kills" ng-show="kill.newdate"> 
                    <td colspan=5 class="dateline">
                        {{kill.newdate | date:'EEE MMM d yyyy'}}
                    </td>
                </tr>
                <tr kill-mail kill="kill" show-srp="showSrp" request-srp="requestSrp({km:km})" ng-repeat-end>                   
            </tbody>
        </thead>
    </table>    
</div>