button {
  margin-top: 5px;
  background-color: #0870D7;
  color: white;
  border-radius: 3px;
  border: 1px black;
}

buddon:disabled {
    background-color: #95b6d7;;
}

.column img {
    float: left;
    padding-right: 20px;
}

.container {
    max-width: 900px;    
}

.container .content {
    border-radius: 5px;
    background-color: rgba(51,51,51,.8);
    padding: 12px 12px 0 12px;
}

#header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logoimage {
    float: left;
    margin-right: 15px;
}


.logo {
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 60px;
}

.logo h1 {
    margin-top: 25px;
}

.logo h1 a {
    font: 28px Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display:block;
}

.logo a small {
    font: 12px Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
}

.logo.visible-xs {
    padding-left: 0px;
    align-content: center;
}

.logo.visible-xs h1 {
    font: 20px Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display:block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo.visible-xs h2 {
    font: 20px Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display:block;
    margin-top: 0px;
}

.logo.visible-xs h2 a {
    color: #ffffff;
}

#column_box p {
    color: #AAAAAA;
    padding-top: 5px;
    font-size: 12px;
}

.navbar-brand {
    background-image: url("/images/bold40.png");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 45px;
}

#footer {
  font-size: 10px;
  text-align: center;
}

#footer p {
    font-size: x-small;
}

.clear{
	clear: both;
}

#footer_top {
    background-color: #303030;
    border-radius: 10px;
    padding: 5px;
    padding-top: 0px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 20px;
}

a#loginlink {
  display: block;
  height: 30px;
  width: 195px;
  background-image: url("/images/EVE_SSO_Login_Buttons_Small_White.png");
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 3px;
  margin-left: -5px;
}

.foot_pad .link {
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.foot_pad .reddit {
    background: url(/images/bookmark-reddit-logo.png) no-repeat 0px 2px;
}

.ls{
    list-style: none;
    padding-left: 0px;
}

.ls li{
    background: url(/images/ls1.gif) no-repeat 0px 6px;
    margin-bottom: 8px;
    padding-left: 15px;
}

.killmails img {
  max-height: 40px;
}

.killmails th {
  text-align: left;
}

.killmails tr:nth-child(even) {
  background-color: black;
}

.killmails table {
  width: 380px;
}
.killmails td, .killmails th {
  padding: 1px 4px;
}

.killmails tr a {
    color: #ffffff;
}


#kills, #losses {

  background-color: rgba(8,112,215,.25);
  padding: 5px;

}

.victimname {
  font-weight: bold;
}

.victimship {
  font-weight: thin;
  font-style: italic;
  color: lightgray;
}

.dateline {
  color: lightgray;
  font-weight: normal;
  font-style: italic;
  height: 20px;
}

td.ship, td.victimimg {
  background-color: black;
}

.panel {
    background-color: rgba(8,112,215,.25);
}

.panel-default>.panel-heading{
    background-color: rgba(8,112,215,.25);
    color: #ffffff;
}

#user_info, #adminlink, #logoutlink{
	width: 290px;
	float: left;
}

#adminlink {
	text-align: right;
}
#logoutlink {
	text-align: center;
}

.personblock .person {
  float: left;
  width: 140px;
  margin-right: 20px;
  margin-bottom: 15px;
  min-height: 190px;
}
.personblock .person img {
  margin: 0 20px 10px 20px;
}

.personblock .person .name {
  width: 140px;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

.personblock .person .title {
  width: 140px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.personblock .person .function {
  width: 140px;
  text-align: center;
  font-style: italic;
}

table.team th, table.structure th {
  min-width: 125px;
  vertical-align: top;
  text-align: left;
}

.buyback textarea {
  width: 876px;
  height: 150px;
}



.buyback button {
  width: 75px;
  height: 28px;  
}

#contractvalue_input {
    color: blue;
}

.buybackvalue {
    background: white;
    color: blue;    
}

#srpinfo {
  background-color: rgba(10,10,10,0.8);
  margin: 10px;
  padding: 15px;
  border-style: solid;
  border-width: thin;
}

#srpinfo ol li {
  margin: 0px 20px;
}

.mylosses .killmails table{
    width: 500px;
}

button.SRPButton {
    font-size: smaller;    
}

.tableform {
    display: table;
}

.tableform div {
    display: table-row;
}

.tableform div input {
    display: table-cell;
}

.tableform div label {
    display: table-cell;
}

.tableform div div {
    display: table-cell;
}

.tableform div ul li {
    list-style-type: none;
    text-align: left;
}

.roles .nav-pills {
  float: left;
}

.roles .tab-content {
  float: left;
}

.roletab h4 {
    margin-top: 0px;
}

.roletab {
    padding-left: 20px;
}

.userlist {
    display: table;
}

.userlist .user {
    display: table-row;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;    
}

.userlist .user .actions {
    display: table-cell;   
    
}

.userlist .user .username {
    display: table-cell;
    padding-left: 3px;
    vertical-align: middle;    
}

.adduser {
    margin-top: 20px;
}

#settingsform {
    display: table;
}

#settingsform div {
    display: table-row;
}

#settingsform div label {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

#settingsform div input {
    display: table-cell;    
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #021B45;
}

.table-small {
    font-size: 8pt;
}

.keyok {
    color: green;
}

.keynotok {
    color: red;
}

.st-sort-ascent:before{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\e155';
    padding-right: 4px;
}

.st-sort-descent:before{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\e156';
    padding-right: 4px;
}

.comment-tooltip .header {
    background: #2f96b4;
    text-align: center;
    display: block;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 8px;
    padding-right: 8px;
}

.comment-tooltip .user {
    font-size: x-small;
}

.comment-tooltip .comment {
    border-top-style: solid;
    border-top-color: #2f96b4;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 8px;
    padding-right: 8px;
}

.member-row:hover {
    background-color: #4A0000;
}

.table-striped>tbody>tr.member-row:nth-of-type(odd):hover {
    background-color: #4A0000;
}

.membercard {
    padding: 5px;
    background: #333333;
}

.membercard img {
    margin-top: 10px;
}

.membercard.memberapibad img.toonimage {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.alttable img {
    width: 50px;    
}

.alttable tr.main {
    background-color: darkblue;
}

.Comments {
    border-style: solid;
}

.Comment {
    margin-bottom: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #0870D7;
}

.comment-header {
    background-color: #0870D7;
}

.Comment .comment-text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.Comment .action {
    float: right;
    padding-right: 4px;
    
    //margin-top: -20px;
    
}

.comment-text textarea {
    width: 100%;
}

.comment-actions {
    float: right;    
}

div[contentEditable] {
  cursor: text;  
  display: inline;
}
div[contentEditable]:focus {
  cursor: text;
  background-color: #D0D0D0;
  border: 1px solid red;
  color:darkblue;
  padding: .2em;
}
